.container {
    position: relative;
    width: 80vw;
    height: 60vh;
    background-image: url("anh30.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10rem;
  }
  .cm1{
    margin-top: 3%;
    margin-left: 20%;
    color: white;
  }
.h1{
    font-size: 50px;
    
  }
  .cm2{
    font-size: 50px;
  }
  .cm3{
    font-size: 30px;
  }